.blog {
    h2 {
        text-align: center;
        font-size: 48px;
        padding: 60px 0;
        margin: 0;
        color: #41228e;
    }

    .blogs-list {
        display: flex;
        flex-wrap: wrap;

        @media all and (max-width: 767px) {
            display: block;
        }

        .blogs__blog {
            flex: 1 0 25%;
            box-sizing: border-box;
            background: #eee;
            text-decoration: none;

            @media all and (min-width: 768px) and (max-width: 850px) {
                flex: 1 0 50%;
            }

            &:hover {
                opacity: 0.7;
            }

            &--imgwrapper {
                img {
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;

                    @media all and (max-width: 767px)
                    {
                        height: 200px;
                    }
                }
            }

            &--content {
                padding: 30px;
                color: #333;

                @media all and (max-width: 767px)
                {
                    text-align: center;
                }

                .date {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                .title {
                    font-size: 20px;
                    font-weight: normal;
                    margin-bottom: 5px;
                }

                .role {
                    margin-bottom: 15px;
                    font-size: 12px;
                }
            }
        }
    }
}